export SCRAPPER_SERVER_ADDR=link-tracker-scrapper:1234
export BOT_SERVER_ADDR=link-tracker-bot:1235
export CONFIG_FILE=config.yaml

export APP_POSTGRES_USER=postgres
export APP_POSTGRES_PASSWORD=pwd
export APP_POSTGRES_DB=link-tracker