POSTGRES_USER=postgres
POSTGRES_PASSWORD=pwd
POSTGRES_DB=link-tracker

VALKEY_PASSWORD=pwd

BOT_TOKEN= # токен телеграм бота

SCRAPPER_DB_ACCESS_TYPE=SQL
SCRAPPER_TRANSPORT_PROTOCOL=HTTP
SCRAPPER_JOB_DELAY_INTERVAL=2m
