database:
  host: db
  port: 5432
  username: postgres
  password: pwd
  name: link-tracker
  max_conns: 8
  min_conns: 2
  max_conn_idle_time_mins: 5
  max_conn_life_time_mins: 30
  subscription_batch_size: 100

bot:
  token: # введите ваш токен телеграм бота
  server_addr: link-tracker-bot:1235

scrapper:
  server_addr: link-tracker-scrapper:1234
  db_access_type: SQL
  transport_protocol: HTTP
  job_delay_interval_seconds: 30
  update_communication_type: kafka

kafka:
  brokers:
    - kafka-1:9094
    - kafka-2:9094
    - kafka-3:9094
  topic: updates
  group_id: 1
