database:
  host: db
  port: 5432
  max_conns: 8
  min_conns: 2
  max_conn_idle_time_mins: 5
  max_conn_life_time_mins: 30
  subscription_batch_size: 100

bot:
  server_addr: link-tracker-bot:1235
  cache_enabled: true

scrapper:
  server_addr: link-tracker-scrapper:1234
  update_communication_type: kafka
  cache_enabled: true
  url_validation_enabled: true
  old_updates_enabled: false

kafka:
  brokers:
    - kafka-1:9094
    - kafka-2:9094
    - kafka-3:9094
  topic: updates
  group_id: 1
  num_partitions: 1
  retention_ms: 86400000
  min_insync_replicas: 2

valkey:
  addrs: 
    - valkey-1:7000
    - valkey-2:7001
    - valkey-3:7002
  user: default
  expiration_time: 15m
